#container {
    text-align: center;
  }
  
  #container strong {
    font-size: 2rem;
    line-height: 1.3;
  }
  
  #container p {
    font-size: 1rem;
    line-height: 1.3;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .card-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50%;
  }

  ion-button{
    width: 90%;
    margin-left: 5%;
}